@media (max-width: 800px) {

    section #masVendidosPerros {

        display: grid;
    }


    .dibujo img {
        width: 100%;
        margin-top: 150px;
        height: 240px;
    }

    section #masVendidosPerros,
    section #masVendidosGatos {


        width: 80%;


    }

    @media(max-width: 403px) {

       
    .dibujo img {
      
        height: 170px;
    }

 

    }
}